@import "tailwindcss";

/* If you have custom fonts or global styles, add them below */
body {
  @apply antialiased text-gray-900 bg-gray-50;
}
@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  .rotate-y-6 {
    transform: rotateY(6deg);
  }
}
@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  .rotate-x-6 {
    transform: rotateX(6deg);
  }
}